body::-webkit-scrollbar {
    width:0%;  /* 注意，这里使用0而不是none */
}

body, html, div, iframe {
  margin: 0;
  padding: 0;
  border: 0;
  font-family:Helvetica, sans-serif;
}

.container {
      width: 100vw;
      height: 100vh;
      overflow-x: scroll;
      position: relative;
      overflow-y: hidden;
      scroll-behavior:smooth; /* Add smooth scrolling behavior */
      cursor: pointer;
    }

.gallery {
      display: flex;
      transition: transform 1s ease; /* Add transition for smooth sliding */
    }

.single {
      min-width: 100%;
      min-height: 100%;
      display: inline-block;
    }

img {
      width: 100%;
    }

.info {
      margin-top: 10px;
    }