@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
	overflow: visible;
    position: relative;
	widows: 100vw;
	height:300vw;
	pointer-events: none;
  }

.A{
	
	width:100vw;
	height:4vw;
	position:fixed;
	background++color: yellow;
	
	z-index: 2;
}


.a1{
	
	
	width:8vw;
	height:4vw;
	background++color:palevioletred;
	display:inline-block;
	margin-left:0.5vw;
	overflow:visible;
	vertical-align: top;
}


.a2{
	
	
	width:90vw;
	height:4vw;
	background++color: aquamarine;
;
	margin-right:0.5vw;
	margin-top:0.5vw;
	overflow: visible;
	vertical-align: top;
	float:right;
	
}


.header_button{
	margin-top:0.5vw;
	width:8vw;
	height:1.2vw;
	background-+++color:darkorange;
	vertical-align: top;
	float:right;
	margin-left:8vw;
	overflow:visible;
	pointer-events: auto;
	
	
	
}

.divB {
            margin-top:0.5vw;
			width:8vw;
			height:1.2vw;
            background-+++color: blue;
            z-index: 1;
            transition: width 0.3s, height 0.3s; /*               添加过渡效果 */
            pointer-events: auto; /* 启用鼠标事件 */
		
			vertical-align: top;
			float:right;
			margin-left:10vw;
            overflow:hidden;
        
        }

.hidden{
	
	width:40vw;
	height:2000px;

	display:block;
	margin-top: 30vh;
}


.body_div_background{
	background-color: white;
	width:100vw;
	height:100vh;
	display:flex;
	

}





.body_div_maincontainer{
	background-+++color: red;
	width:50%;
	height:100%;
	margin-left: 10vw;
	margin-right: vw;
	align-items:center;
	justify-content:center;
	overflow: visible;
	z-index: 3;
}







.homeimage{
	margin-top: 100vh;
	width:40vw;
	margin-left:10vw;
	
}




------------------------
<for animation>
------------------------



body {width:100vw;
    height:100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  .trail {
    position: absolute;
    
    width: 575px;
    height: 575px;
    transition: transform 0.1s;
    opacity:3%;
	background-image:url('../images/home2.png');
	background-size:cover; 
	 z-index: 1;
  }
