body {
    margin: 0;
    padding: 0;
	overflow: visible;
    position: relative;
	widows: 100vw;
  }

 body {
   
      height: 100vh;
    }

    #video-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
		width:90%;
		margin-left: 5%;
		margin-top: 15vh;
      
    }

    .video-container {
      height:100%;
      margin: 0px;
      position: relative;
      
    }

    video {
      width: 100%;
      height: auto;
      filter: grayscale(100%) brightness(90%) contrast(1000) invert(30%);
      opacity:100%
      
    }

.dawen{ margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.A{
	
	width:100vw;
	height:4vw;
	position:fixed;
	background++color: yellow;
	
	z-index: 2;
}


.a1{
	
	
	width:8vw;
	height:4vw;
	background++color:palevioletred;
	display:inline-block;
	margin-left:0.5vw;
	overflow:visible;
	vertical-align: top;
}


.a2{
	
	
	width:90vw;
	height:4vw;
	background++color: aquamarine;
;
	margin-right:0.5vw;
	margin-top:0.5vw;
	overflow: visible;
	vertical-align: top;
	float:right;
	
}

.wen{
	
	
	width:8vw;
	height:1.2vw;
	background-+++color:darkorange;
	vertical-align: top;
	float:right;
	margin-left:1.2vw;
	margin-bottom: 2.2vw;
	overflow:visible;
	pointer-events: auto;
	
	
	
}

.divB {
            margin-top:0.5vw;
			width:8vw;
			height:1.2vw;
            background-+++color: blue;
            z-index: 1;
            transition: width 0.3s, height 0.3s; /*               添加过渡效果 */
            pointer-events: auto; /* 启用鼠标事件 */
		
			vertical-align: top;
			float:right;
			margin-left:10vw;
            overflow:hidden;
        
        }

.divC {
            margin-top:0.5vw;
			width:8vw;
			height:1.2vw;
            background-++color: blue;
            z-index: 1;
            transition: width 0.3s, height 0.3s; /*               添加过渡效果 */
            pointer-events: auto; /* 启用鼠标事件 */
		
			vertical-align: top;
			float:right;
			margin-left:8vw;
            overflow:hidden;
        
        }

.hidden{
	
	width:40vw;
	height:2000px;

	display:block;
	margin-top: 30vh;
}

.hidden2{
	
	width:20vw;
	height:1500px;
	background-++color: red;
	display:block;
	margin-top: 15vh;
}

.body_div_background{
	background-color: white;
	width:100vw;
	height:100;
	overflow: hidden;
	z-index:3;
	

}

